.Note {
  border: 1px solid black;
  width: 100%;
}

.Note__Header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid black;
}

.Note__Body {
  padding: 8px;
}

.Note .Button {
  padding-top: 0;
  padding-bottom: 0;
}
